<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Тестовый сайт</title>
</head>
<body>
<h1>Главный заголовок</h1>
<h2>Второй заголовок</h2>
<span style="color: red;">Основной текст страницы</span>
<p id="text"> Исследовательское тестирование (exploratory testing) – это одновременное изучение программного продукта,
    проектирование тестов и их исполнение.</p>
<p id="texttest"> Прочитать о тестировании можно <a
        href="http://software-testing.by/blog/exploratory-testing-exploratory-tours/" target="_blank">здесь</a>
</p>
<a href="https://idaprikol.ru/tags/%D1%82%D0%B5%D1%81%D1%82%D0%B8%D1%80%D0%BE%D0%B2%D1%89%D0%B8%D0%BA" target="_blank">
    <img src="https://cs15.pikabu.ru/post_img/2025/01/15/3/173690943114516577.jpg" alt="Мем про тестировщиков"
         width="250" height="400"></a>
<h3>Когда следует применять исследовательское тестирование?</h3>
<p>Самые распространенные случаи:</p>
<ul>
    <li>вам нужно обеспечить быструю обратную связь о новом продукте или фиче</li>
    <li>нужно быстро изучить продукт</li>
    <li>вы уже провели скриптовое тестирование и хотите разнообразить своё тестирование</li>

</ul>
<div>
  <form>
    <button type="submit">Login</button>
    <button type="reset">Registration</button>
  </form>
  <div>
    <button type="submit">Login</button>
    <button type="reset">Registration</button>
  </div>
</div>
<div>
  <div id="footer">
    <span>Python</span>
    <span>Pytest</span>
    <span>Playwright</span>
  </div>
</div>
<!--<form action="/submit" method="POST">-->
<!--    <input type="text" name="username" placeholder="Your name" value="Username">-->
<!--    <input type="email" name="useremail" placeholder="Your email">-->
<!--    <button type="submit" id="login-button">Отправить</button>-->
<!--</form>-->
<h3>Таблица принятия решений</h3>
<table>
    <tr>
        <td>Условие</td>
        <td>Действия/Результаты</td>
    </tr>
</table>
<ul>
    <li><span style="color:red">python</span></li>
    <li><span style="color:red">playwright</span></li>
    <li><span style="color:red">pytest</span></li>
</ul>
<p class="common-styles">Note that this is an important paragraph. :)</p>
</body>
</html>